<div class="col-lg-12" style="margin-top:10px">
  <input type="text" class="form-control" [formControl]="titleFilter">
</div>
<div *ngFor="let product of products" class="mybox col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <img src="http://placehold.it/320*150" alt="" class="productImg" />
    <div class="caption">
      <h4 class="pull-right">{{ product.price }}元</h4>
      <h4>
        <a href="javascript:void(0);" [routerLink]="['/product',product.id]">{{ product.title }}</a>
      </h4>
      <p>{{ product.desc }}</p>
    </div>
    <div><app-start [rating]="product.rating"></app-start></div>
  </div>
</div>
